<mat-toolbar class="nav-bar">
    <span>Welcome to <img class="logo" src="./assets/logo.png"> {{ userDetails }} </span>
    <span class="top-nav"></span>
    <button
      class="nav-button"
      mat-button
      routerLink="/movies"
      color="primary"
      >
        Movies
      </button>
      <button
        class="nav-button"
        mat-button
        routerLink="/favorites"
        color="primary"
      >
        Favorites
      </button>
      <button 
        class="nav-button"
        mat-button 
        routerLink="/profile"
        color='primary'
      >
          Profile
      </button>
      
      <button 
        class="nav-button-logout"
        mat-icon-button
        (click)="signOut()"
      >
          Log out
        </button>
  </mat-toolbar>
