<p>user-registration-form works!</p>
<mat-card>
    <mat-card-header>
        <mat-card-title>Sign up here!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.name"
                    placeholder="Name"
                    type="text"
                    name="name"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.username"
                    placeholder="Username"
                    type="text"
                    name="username"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.password"
                    placeholder="Password"
                    type="password"
                    name="password"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.email"
                    placeholder="Email"
                    type="email"
                    name="email"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.birthday"
                    placeholder="Date of Birth 00/00/0000"
                    type="date"
                    name="birthday"
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            (click)="registerUser()"
            class="button-profile"
        >
            Sign Up
        </button>
    </mat-card-actions>
</mat-card>